html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background: #fff;
    color: #000;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.search-input {
    border: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: lightgray;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.slider-img {
    z-index: 1;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-right: 50px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

.menu-item:hover {
    color: rgba(160, 160, 160, 0.933);
    transition: all 0.5s ease;
}

.slider {
    background-color: #F3D1F4;
    color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.slider-item {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item:nth-child(1) .slide-background {
    background-color: #CCF3EE;
}

.slider-item:nth-child(2) .slide-background {
    background-color: #FFB6B9;
}

.slider-item:nth-child(3) .slide-background {
    background-color: #FAF4B7;
}

.slider-item:nth-child(4) .slide-background {
    background-color: #97C4B8;
}

.slider-item:nth-child(5) .slide-background {
    background-color: #C8FFD4;
}

.slider-wrap {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.slide-background {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    border: none;
    position: absolute;
    background-color: #ebebe5;
}

.slider-title {
    position: absolute;
    font-size: 50px;
    top: 10%;
    right: 15%;
    z-index: 1;
}

.slider-price {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #000;
    border: 1px dashed #000;
    z-index: 1;
}

.slider-item:nth-child(1) .slider-price {
    color: #6155A6;
}

.slider-item:nth-child(2) .slider-price {
    color: #A685E2;
}

.slider-item:nth-child(3) .slider-price {
    color: #999B84;
}

.slider-item:nth-child(4) .slider-price {
    color: #ae77a0;
}

.slider-item:nth-child(5) .slider-price {
    color: #6ea3a3;
}

.buy-btn {
    padding: 10px 20px;
    position: absolute;
    top: 70%;
    right: 20%;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    border: 2px solid #000;
    z-index: 1;
    cursor: pointer;
}

.buy-btn {
    background: linear-gradient(124deg, #feada1, #fd8d8d, #fee68e, #ffea60, #95ffa7, #6bf8ff, #aaa4f9, #f695ff, #f064fd);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}
@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}
