body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background: #000;
    color: #fff;
    padding: 20px 50px;
}

.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input{
    border: none;
    background-color: transparent;
}

.search-input::placeholder{
    color: lightgray;
}

.limited-offer{
    font-size: 20px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.slider-img{
    margin-top: -200px;
    min-width: 600px;
    z-index: 1;
}

.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 500;
}

.menu-item:hover{
    color: #fff;
}

.slider{
    background-color: #FEFCF3;
    color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.slider-item{
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-item:nth-child(1) .slide-background{
    background-color: #CCF3EE;
}
.slider-item:nth-child(2) .slide-background {
    background-color: #F9CEEE;
}
.slider-item:nth-child(3) .slide-background {
    background-color: #FAF4B7;
}

.slider-wrap{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.slide-background{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: #ebebe5;
}

.slider-title{
    position: absolute;
    font-size: 50px;
    top: 10%;
    right: 15%;
    z-index: 1;
}

.slider-price{
    position: absolute;
    padding: 10px 20px;
    top: 10%;
    left: 10%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #000;
    border: 1px solid gray;
    z-index: 1;
}
/* .slider-item:nth-child(1) .slider-price {
    color: #97f1e5;
}
.slider-item:nth-child(2) .slider-price {
    color: #f1a8df;
}
.slider-item:nth-child(3) .slider-price {
    color: #e6dd85;
} */
.buy-btn{
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: 1px solid black;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.buy-btn:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}